<div class="card dashboard ml-auto mr-auto">
  <div class="card-body">
    <h5 class="card-title text-center detail-card-title" style="margin: 0">Discovery</h5>
    <div class="dashboard-column-titles">
      <h2 class="dashboard-column-title disc-title text-center"></h2>
      <h2 class="dashboard-column-title disc-title text-center">Results</h2>
    </div>
    <div class="discovery-main">
      <div class="search-column">
        <input type="text" class="search-bar" name="search" placeholder="Search...">
        <p class="search-info">
          You can search Singispace for the following:
        </p>
        <div class="dashboard-column filter-box">
          <div class="filter-item">
            <img src="../assets/images/icons/themes.svg" class="img-responsive filter-item-img">
            <h3 class="filter-item-text text-center">Themes</h3>
          </div>
          <div class="filter-item">
            <img src="../assets/images/icons/pages.svg" class="img-responsive filter-item-img">
            <h3 class="filter-item-text text-center">Pages</h3>
          </div>
          <div class="filter-item">
            <img src="../assets/images/icons/users.svg" class="img-responsive filter-item-img">
            <h3 class="filter-item-text text-center">Users</h3>
          </div>
          <div class="filter-item">
            <img src="../assets/images/icons/friends.svg" class="img-responsive filter-item-img">
            <h3 class="filter-item-text text-center">Friends</h3>
          </div>
          <div class="filter-item">
            <img src="../assets/images/icons/my-posts.svg" class="img-responsive filter-item-img">
            <h3 class="filter-item-text text-center">My Posts</h3>
          </div>
          <div class="filter-item">
            <img src="../assets/images/icons/groups.png" class="img-responsive filter-item-img">
            <h3 class="filter-item-text text-center">Groups</h3>
          </div>
        </div>
      </div>
      <div class="dashboard-column disc-column">

      </div>
    </div>
  </div>
</div>
