<div class="main-window">

  <div class="subscribed-bar">
    <div class="tab-container">
      <themes-tab></themes-tab>
    </div>
    <div class="tab-container">
      <pages-tab></pages-tab>
    </div>
  </div>
  <div class="main-feed">
    <div class="main-feed-stream">
      <div class="post">
        <h2 class="post-title">
          something
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            something
          </p>
        </div>
        <div class="action-box-container">
          <div class="d-flex justify-content-center align-items-center action-box">
            <img src="../../../../assets/images/icons/like.svg" class="img-responsive actions">
            <div class="info-drop" (click)="openPost('postDetail')">
              <p class="info-text">Like</p>
            </div>

          </div>
          <div class="d-flex justify-content-center align-items-center action-box">
            <img src="../../../../assets/images/icons/comment.svg" class="img-responsive actions">
            <div class="info-drop" (click)="openPost('postDetail')">
              <p class="info-text">Comment</p>
            </div>

          </div>
          <div class="d-flex justify-content-center align-items-center action-box">
            <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
            <div class="info-drop" (click)="openPost('postDetail')">
              <p class="info-text">View</p>
            </div>

          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          something
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            something
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          something
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            something
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          something
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            something
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          something
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            something
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions" (click)="openPost('postDetail')">
          <div class="info-drop">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-bar">
    <div class="tab-container">
      <friends-tab></friends-tab>
    </div>
    <div class="tab-container">
      <groups-tab></groups-tab>
    </div>
  </div>
  <jw-modal id="postDetail">
    <div class="card form-card">
      <div class="card-body">
        <h5 class="card-title text-center">Create Post</h5>
        <label class="input-label">Title</label>
        <div class="form-label-group">
          <input class="form-control" name="title" [(ngModel)]="post.title" type="text" required>
        </div>
        <label class="input-label">Text Content</label>
        <div class="form-label-group">
                  <textarea class="form-control" name="textContent" [(ngModel)]="post.textContent" type="text"
                            required></textarea>
        </div>
        <button class="btn text-uppercase form-button" type="submit" (click)="closePost('postDetail')">Close</button>
      </div>
    </div>
  </jw-modal>
</div>
