<div class="main-window">

  <div class="subscribed-bar">
    <div class="tab-container">
      <themes-tab></themes-tab>
    </div>
    <div class="tab-container">
      <pages-tab></pages-tab>
    </div>
  </div>
  <div class="main-feed">
    <div class="main-feed-stream" *ngIf="isTutorLogged()">
      <div class="post">
        <h2 class="post-title">
          Meeting for SII
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            Happening at 18:30pm in the lobby
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          New Water Dispenser
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            We are installing a new water dispenser this week, there might be a water shortage
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          Meeting cancelled for SII
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            Unfortunately our professor won't be in the city at this time. We shall schedule for it tomorrow once he arrives from his trip
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          New Meeting Place
        </h2>
        <div>
          <img src="../assets/images/singi_back.jpg" class="post-image">
        </div>
        <div class="module line-clamp">
          <p class="post-text-content">
            Our new meeting place will be situated here.
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
    </div>
    <div class="main-feed-stream" *ngIf="isAdminLogged()">
      <div class="post">
        <h2 class="post-title">
          New Water Dispenser
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            We are installing a new water dispenser this week, there might be a water shortage
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          Don't overdo
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            Pages are meant for sharing information on a more social level. Although with moderation, you cannot just post what you want
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          What Not To Post
        </h2>
        <div>
          <img src="http://localhost:8080/images/themes/PModuhMTnJunnamed%20(1).jpg" class="post-image">
        </div>
        <div class="module line-clamp">
          <p class="post-text-content">
            1. No swearing 2. Nothing unrelated to your course
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
    </div>
    <div class="main-feed-stream" *ngIf="isStudentLogged()">
      <div class="post">
        <h2 class="post-title">
          Don't overdo
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            Pages are meant for sharing information on a more social level. Although with moderation, you cannot just post what you want
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          New Water Dispenser
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            We are installing a new water dispenser this week, there might be a water shortage
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          What Not To Post
        </h2>
        <div>
          <img src="http://localhost:8080/images/themes/PModuhMTnJunnamed%20(1).jpg" class="post-image">
        </div>
        <div class="module line-clamp">
          <p class="post-text-content">
            1. No swearing 2. Nothing unrelated to your course
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
      <div class="post">
        <h2 class="post-title">
          Meeting for SII
        </h2>
        <div class="module line-clamp">
          <p class="post-text-content">
            Happening at 18:30pm in the lobby
          </p>
        </div>
        <div class="d-flex justify-content-center align-items-center action-box">
          <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
          <div class="info-drop" (click)="openPost('postDetail')">
            <p class="info-text">View</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="chat-bar">
    <div class="tab-container">
      <friends-tab></friends-tab>
    </div>
    <div class="tab-container">
      <groups-tab></groups-tab>
    </div>
  </div>
  <jw-modal id="postDetail">
    <div class="card form-card">
      <div class="card-body">
        <h5 class="card-title text-center">Create Post</h5>
        <label class="input-label">Title</label>
        <div class="form-label-group">
          <input class="form-control" name="title" [(ngModel)]="post.title" type="text" required>
        </div>
        <label class="input-label">Text Content</label>
        <div class="form-label-group">
                  <textarea class="form-control" name="textContent" [(ngModel)]="post.textContent" type="text"
                            required></textarea>
        </div>
        <button class="btn text-uppercase form-button" type="submit" (click)="closePost('postDetail')">Close</button>
      </div>
    </div>
  </jw-modal>
</div>
