<link rel="stylesheet" href="../../../../assets/styles/cards.scss">
<div class="container card-container" style="width: 340px;">
  <div class="card form-card">
    <div class="card-body">
      <h5 class="card-title text-center">Sign In</h5>
      <form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
        <label class="input-label">Username</label>
        <div class="form-label-group">
          <input class="form-control form-control-lg" formControlName="username" type="text" required>
        </div>

        <label class="input-label">Password</label>
        <div class="form-label-group">
          <input class="form-control form-control-lg" formControlName="password" type="password" required>
        </div>

        <button class="btn text-uppercase form-button" type="submit">Sign in</button>
        <hr class="my-4">
        <h2 class="quote">
          If I’m gonna tell a real story, I’m gonna start with my name
        </h2>
      </form>
    </div>
  </div>
</div>
