h1 {
  text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.64);
  font-family: "Vesper Libre", serif;
  margin: 0;
  color: black;
}

h2 {
  font-family: "Vesper Libre", serif;
  color: #0f0a0a;
  margin: 0;
}

h3 {
  font-family: "Vesper Libre", serif;
  padding: 5%;
  color: #0f0a0a;
  margin: 0;
  text-decoration: underline;
  text-decoration-color: rgba(0, 0, 0, 0.2);
}

label {
  margin: 0;
  font-family: "Vesper Libre", serif;
  color: #0f0a0a;
}

p {
  padding: 0;
  font-family: "Vesper Libre", serif;
  color: #0f0a0a;
}
