@import "./breakpoints.scss";

.main-window {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 90vh;
}

.subscribed-bar {
  @include for-desktop-only {
    box-shadow: 0 0 5px -1px #F5F5F5;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    background-color: $bars;
  }
}

.main-feed {
  overflow-y: auto;
  padding: 1.2rem;
  box-shadow: 0 0 5px #F5F5F5;
  @include for-desktop-only {
    width: 600px;
    background-color: $bars;
  }
}

.chat-bar {
  @include for-desktop-only {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 0 5px -1px #F5F5F5;
    width: 300px;
    background-color: $bars;
  }
}
