$text-color: #F5F5F5;
$bars: #242526;
$primary: #18191a;
$secondary: #bd2215; //cornell red
$third: #ff220c; //red (ryb)

$font-lead: "Patua One", cursive;
$font-second: "Raleway", sans-serif;

html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 750ms !important;
  transition-delay: 0 !important;
}

@import url('https://fonts.googleapis.com/css?family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=Patua+One|Raleway&display=swap');
