<header>
  <nav class="navbar navbar-expand-md justify-content-between fixed-top">
    <div class="brand-box">
      <img src="../../../assets/images/singi_logo.png" alt="" class="small-logo">
      <a class="navbar-brand">SingiSpace</a>
    </div>
    <div class="navigation-menu" *ngIf="isLoggedIn()">
      <div class="nav-menu-tab" (click)="toHome()">
        <img src="assets/images/icons/home.svg" class="img-responsive nav-icon ml-auto mr-auto">
      </div>
      <div class="nav-menu-tab" (click)="toDashboard()" *ngIf="isAdmin()">
        <img src="assets/images/icons/dashboard.svg" class="img-responsive nav-icon ml-auto mr-auto">
      </div>
      <div class="nav-menu-tab" (click)="toDiscovery()">
        <img src="assets/images/icons/search.svg" class="img-responsive nav-icon ml-auto mr-auto">
      </div>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto" *ngIf="isLoggedIn()">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <img src="assets/images/icons/bell.svg" class="img-responsive nav-icon">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">Notifications</h6>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <img src="assets/images/icons/create.svg" class="img-responsive nav-icon">
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <h6 class="dropdown-header">Create</h6>
            <div class="nav-links">
              <a class="nav-link" routerLink="/create-page">Page</a>
              <a class="nav-link" routerLink="/create-theme" *ngIf="isAdmin() || isTutor()">Theme</a>
              <a class="nav-link" routerLink="/create-post">Post</a>
            </div>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
             aria-expanded="false">
            <img src="assets/images/icons/profile.svg" class="img-responsive nav-icon">
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <h6 class="dropdown-header">Profile</h6>
            <div class="nav-links">
              <a class="nav-link" routerLink="user/{{getUsername()}}">{{getUsername()}}</a>
              <a class="nav-link" routerLink="/my-pages">My Pages</a>
              <a class="nav-link" routerLink="/my-themes" *ngIf="isAdmin() || isTutor()">My Themes</a>
              <div class="dropdown-divider"></div>
              <a class="nav-link" (click)="onLogout()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav mr-auto" *ngIf="!isLoggedIn()">
        <li class="nav-item-word">
          <a class="nav-link" routerLink="/login">Sign In</a>
        </li>
        <li class="nav-item-word">
          <a class="nav-link" routerLink="/register">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role='main'>
  <router-outlet></router-outlet>
</main>


<!-- <footer>

</footer> -->
