<div class="card detail-card ml-auto mr-auto" *ngIf="selectedPage | async as page">
  <div class="card-body">
    <h5 class="card-title text-center detail-card-title">{{page.name}}</h5>
    <div class="detail-card-body">
      <div class="detail-card-info">
        <div class="detail-card-owner" (click)="toUser(owner.username)">
          <img [src]="owner.imgUrl" class="profile-photo owner-info img-responsive">
          <h2 class="detail-card-subtitle">{{owner.name}} {{owner.surname}}</h2>
        </div>
        <div class="detail-card-about">
          <h2 class="detail-card-subtitle">About</h2>
          <p class="detail-card-text">
            {{page.desc}}
          </p>
          <div class="d-flex justify-content-center flex-column">
            <div class="detail-card-specifics">
              <img src="../../../../assets/images/icons/like.svg" class="img-responsive about-icon">
              <p class="detail-card-specific-text">54 people like this</p>
            </div>
            <div class="detail-card-specifics">
              <img src="../../../../assets/images/icons/tag.svg" class="img-responsive about-icon">
              <p class="detail-card-specific-text">School · Lectures · Information</p>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-center flex-row flex-wrap align-items-center">
          <div class="d-flex justify-content-center align-items-center action-box">
            <img src="../../../../assets/images/icons/like.svg" class="img-responsive actions">
            <div class="info-drop">
              <p class="info-text">Like</p>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center action-box">
            <img src="../../../../assets/images/icons/join.svg" class="img-responsive actions">
            <div class="info-drop">
              <p class="info-text">Join</p>
            </div>
          </div>
          <div class="d-flex justify-content-center align-items-center action-box"
               (click)="openCreatePage('custom-modal-1')">
            <img src="../../../../assets/images/icons/create.svg" class="img-responsive actions">
            <div class="info-drop">
              <p class="info-text">Post</p>
            </div>
          </div>
        </div>
      </div>
      <div class="detail-feed">
        <div class="post" *ngFor="let post of selectedPageFeed | async">
          <h2 class="post-title">
            {{post.title}}
          </h2>
          <div *ngIf="post.imgContent !== ''">
            <img [src]="post.imgContent" class="post-image">
          </div>
          <div class="module line-clamp">
            <p class="post-text-content">
              {{post.textContent}}
            </p>
          </div>
          <div class="d-flex justify-content-center align-items-center action-box">
            <img src="../../../../assets/images/icons/eye.svg" class="img-responsive actions">
            <div class="info-drop" (click)="openPost('postDetail')">
              <p class="info-text">View</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <jw-modal id="custom-modal-1">
    <div class="card form-card">
      <div class="card-body">
        <h5 class="card-title text-center">Create Post</h5>
        <div class="d-flex flex-row justify-content-around align-items-center">
          <div class="modal-button" (click)="openCreateTextPost()" *ngIf="!createPostopen">
            <img src="../assets/images/icons/text_post.svg" class="dashboard-button-image">
            <h2 class="dashboard-button-text text-center">Text</h2>
          </div>
          <div class="modal-button" (click)="openCreateImagePost()" *ngIf="!createPostopen">
            <img src="../assets/images/icons/image_post.svg" class="dashboard-button-image">
            <h2 class="dashboard-button-text text-center">Image</h2>
          </div>
        </div>
        <div *ngIf="textPost">
          <label class="input-label">Title</label>
          <div class="form-label-group">
            <input class="form-control" name="title" [(ngModel)]="post.title" type="text" required>
          </div>
          <label class="input-label">Text Content</label>
          <div class="form-label-group">
                  <textarea class="form-control" name="textContent" [(ngModel)]="post.textContent" type="text"
                            required></textarea>
          </div>
          <button class="btn text-uppercase form-button" type="submit" (click)="tryCreatePost()">Submit</button>
        </div>
        <div *ngIf="imagePost">
          <div class="d-flex justify-content-center align-items-center action-box">
            <label class="modal-upload">
              <img src="../../../../assets/images/icons/add_image.png" class="img-responsive actions">
              <input type="file" #file accept="image/*" style="display: none" (change)="preview(file.files)">
            </label>
            <div class="info-drop">
              <p class="info-text">Image</p>
            </div>
          </div>
          <img [src]="imageSrc || 'https://via.placeholder.com/200'" alt="your image"
               class="post-image ml-auto mr-auto">
          <label class="input-label text-center">Post Photo</label>
          <label class="input-label">Title</label>
          <div class="form-label-group">
            <input class="form-control" name="title" [(ngModel)]="post.title" type="text" required>
          </div>
          <label class="input-label">Text Content</label>
          <div class="form-label-group">
                  <textarea class="form-control" name="textContent" [(ngModel)]="post.textContent" type="text"
                            required></textarea>
          </div>
          <button class="btn text-uppercase form-button" type="submit" (click)="tryCreatePost()">Submit</button>
        </div>
      </div>
    </div>
  </jw-modal>

  <jw-modal id="postDetail">
    <div class="card form-card">
      <div class="card-body">
        <h5 class="card-title text-center">Create Post</h5>
        <!--        <label class="input-label">Title</label>-->
        <!--        <div class="form-label-group">-->
        <!--          <input class="form-control" name="title" [(ngModel)]="post.title" type="text" required>-->
        <!--        </div>-->
        <!--        <label class="input-label">Text Content</label>-->
        <!--        <div class="form-label-group">-->
        <!--          <textarea class="form-control" name="textContent" [(ngModel)]="post.textContent" type="text"-->
        <!--                    required></textarea>-->
        <!--        </div>-->
        <!--        <button class="btn text-uppercase form-button" type="submit" (click)="tryCreatePost()">Submit</button>-->
      </div>
    </div>
  </jw-modal>
</div>
